.header{
    background-color: magenta;
    border: 1px solid yellow;
    border-radius: 7px;

    height: 10vh;
    width: 78vw;

    margin-top: 1vh;
    
    left: 0;
    right: 0;
    
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 39vw 39vw;
    grid-template-rows: 5vh 5vh;


}

.addPost {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.postformcomponent {
    background-color: rgba(0, 0, 0, 0.5);

    height: 100%;
    width: 100%;
    z-index: 9999;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: none;
}
