.header{
    background-color: magenta;
    border: 1px solid yellow;
    border-radius: 7px;

    height: 10vh;
    width: 78vw;

    margin-top: 1vh;
    
    left: 0;
    right: 0;
    
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 39vw 39vw;
    grid-template-rows: 5vh 5vh;


}

.addPost {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: flex;
    justify-content: right;

    padding: 2px;

}

.postformcomponent {
    display: none;
}

.postformmiddle{
    z-index: 9999;
}


#addComplaintButton {
    background-color: purple;
    height: auto;
    width: auto;
    padding: 10px;


    display: flex;
    justify-content: center;
    align-items: center;


    border: 1px solid black;
    border-radius: 7px;
}


#addComplaintButton:hover {
    color: turquoise;
    background-color: yellow;
    cursor: pointer;
}