.postformcontainer{
    width: 25vw;
    height: 47vh;

    padding: 1%;

    background-color:darkviolet;
    border: 1px solid black;
    border-radius: 15px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    position: absolute;
    top: 0;
    bottom: 20%;
    right: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;

    z-index: 9999;
}


.formcontainer {
    background-color: crimson;
    border: 1px solid black;
    border-radius: 15px;

    padding: 1%;

    width: 20vw;
    height: 47vh;

    display:flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
}

.headlinepostform{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 3ch;

}

.underlayPostForm {
    background-color: rgba(0, 0, 0, 0.5);

    height: 100%;
    width: 100%;
    z-index: 1000;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}