.postBoardContainer {
    height: 84vh;
    margin-top: 1vh;

    width: 78vw;

    background-color: magenta;
    border: 1px solid red;
    border-radius: 7px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;


    display: grid;
    grid-template-columns: 19.5vw 19.5vw 19.5vw 19.5vw;
    grid-template-rows: 21vh 21vh 21vh 21vh;

}

.post {
    background-color: blueviolet;
    margin: .5vw;

    border: 1px solid black;
    border-radius: 7px;

    height: 20vh;
    width: 18.5vw;
    

    display: grid;
    grid-template-columns: 9.25vw 9.25vw;
    grid-template-rows: 5vh 5vh 5vh 5vh;
}

#hideId {
    display: none;
}